/* Font: Roboto (you will need to download and install this font if you don’t already have it)
Dark background color (header, hero section and footer): #1F2937 */
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#myImage {
width: 700px;
height: auto;
border-radius: 24px;
}

/* Logo text: Font size: 24px Color: #F9FAF8 */
#header-logo {
 width: 120px;
  height: auto;
  display: block;
}

/* Hero section main text (“This website is awesome”): Font size: 48px Color: #F9FAF8 Weight: 900 */
h1 {
  font-size: 48px;
  font-weight: 900;
}

/* Hero secondary text (“This website has some subtext…”) and header links: Font size: 18px Color: #E5E7EB */
p {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 1%;
}

a {
  color: white;
}
/* Button and “Call to action” background color: #3882F6 */
button {
  background-color: #3882F6;
}
/* Information heading: Font size: 36px Color: #1F2937 Weight: 900 */
h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

/* Quote: Background color: #E5E7EB Font size: 36px Color: #1F2937 Weight: 300 Font style: italic CHECK */
.quote {
background-color: #E5E7EB;
}

.quote h2 {
font-size: 36px;
font-weight: 300;
font-style: italic;
}

body {
  margin: 0;
}

.container,
footer {
background-color: #1F2937;
color: #F9FAF8;
}

.header, 
.hero {
padding-left: 15%;
padding-right: 15%;
}

.header {
display: flex;
justify-content: space-between;
align-items: baseline;
}

.hero {
display: flex;
justify-content: space-between;
padding-top: 3%;
padding-bottom: 10%;
gap: 4rem;
}

.link {
 display: flex;
 gap: 1rem;
}

.web p{
 margin-top: 0%;
}

.web h1{
  margin-bottom: 0%;
}

button {
color: white;
font-size: 18px;
font-weight: bold;
border-radius: 8px;
padding:6px 32px;
border: none;
text-align: center;
}

.container2 {
  padding-bottom: 5%;
}
.container2 h2{
 text-align: center;
 padding: 2%;
}

.cards {
display: flex;
justify-content: space-evenly;
align-content: center;
padding-left: 20%;
padding-right: 20%;
}

.card img{
  height: 200px;
  width: 200px;
  border: 6px solid rgb(0, 187, 234);
  border-radius: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.card p{
  text-align: center;
  color:gray;
}

.quote {
display: flex;
flex-direction: column;
padding: 5%;
padding-left: 25%;
padding-right: 25%;
font-style: italic;
}

.quote h4 {
display: flex;
justify-content: end;
font-weight: bold;
margin: 0%;
}

.container3 {
display: flex;
justify-content: space-evenly;
background-color: #3882F6;
border-radius: 8px;
margin: 5% 15%;
}

.container3 button {
color: white;
font-size: 18px;
font-weight: bold;
border-radius: 8px;
border-color: white;
margin-block: auto;
border: solid 4px white;
text-align: center;
}

.container3-text h2 {
  color: white;
  margin-bottom: 0%;
  margin-top: 10%;
} 

.container3-text p {
  margin-bottom: 10%
}

footer {
  text-align: center;
  padding: 2%;
  font-size: 14px;
}